<app-product-filter-form (productFilter)="search($event)" />

@for (product of products; track $index) {
    <div class="product">
        <div class="product-summary">
            <span>{{product.id}}</span>
            <span>{{product.code}}</span>
            <span>{{product.nom}}</span>
        </div>
        <div class="product-actions">
            <a class="action view-action" (click)="view(product.id)">View</a>
            <a class="action edit-action" (click)="edit(product.id)">Edit</a>
            <a class="action delete-action" (click)="delete(product.id)">Delete</a>
        </div>
    </div>
    
}
